package pages

import "tarta.com/modules/components"
import "tarta.com/modules/catalog"

templ HomePage(input catalog.ProductSearchInput) {
	@components.Banners()
	<section class="mx-12">
		@components.Shelf(input)
	</section>
	<button hx-get="/about" hx-swap="innerHTML" hx-target="#main-content">Go to about</button>
}
